In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, TimestampType
import pyspark.sql.functions as F
from pyspark.sql.window import Window

import boto3

from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Initialisation de Spark

In [3]:
# Initialisation de la session Spark
spark = SparkSession \
    .builder \
    .config("spark.driver.host", "localhost") \
    .config("spark.driver.port", "9000") \
    .master("local[*]") \
    .appName("Projet de Fin d'Etude") \
    .getOrCreate()

spark

In [4]:
sc = spark.sparkContext

# Chargement des données structurées

In [5]:
# Informations de connexion à RDS
jdbc_url = "jdbc:mysql://database-grp6.chcmvnn5gnpv.us-east-1.rds.amazonaws.com:3306/raw_data?serverTimezone=UTC"
db_properties = {
    "user": "admin",
    "password": "xxxx",
    "driver": "com.mysql.jdbc.Driver"
}

In [6]:
# Liste des noms des tables RDS
table_names = [
    "orders",
    "order_items",
    "order_payments",
    "order_reviews",
    "products",
    "products_translated",
    "geolocation",
    "states_name"
]

In [7]:
# Créer un dictionnaire de DataFrames
dataframes = {table_name: spark.read.jdbc(url=jdbc_url, table=table_name, properties=db_properties) for table_name in table_names}
dataframes

{'orders': DataFrame[order_id: string, customer_id: string, order_status: string, order_purchase_timestamp: timestamp, order_approved_at: timestamp, order_delivered_carrier_date: timestamp, order_delivered_customer_date: timestamp, order_estimated_delivery_date: timestamp],
 'order_items': DataFrame[order_id: string, order_item_id: int, product_id: string, seller_id: string, shipping_limit_date: timestamp, price: double, freight_value: double],
 'order_payments': DataFrame[order_id: string, payment_sequential: int, payment_type: string, payment_installments: int, payment_value: double],
 'order_reviews': DataFrame[review_id: string, order_id: string, review_score: int, review_comment_title: string, review_comment_message: string, review_creation_date: timestamp, review_answer_timestamp: timestamp],
 'products': DataFrame[product_id: string, product_category_name: string, product_name_lenght: int, product_description_lenght: int, product_photos_qty: int, product_weight_g: int, product_length_cm: int, product_height_cm: int, product_width_cm: int],
 'products_translated': DataFrame[product_category_name: string, product_category_name_english: string],
 'geolocation': DataFrame[geolocation_zip_code_prefix: int, geolocation_lat: double, geolocation_lng: double, geolocation_city: string, geolocation_state: string],
 'states_name': DataFrame[geolocation_state: string, state_name: string]}

# Chargement des données non structurées

In [8]:
# Configuration des identifiants AWS
aws_access_key_id = ''
aws_secret_access_key = ''
region_name = 'us-east-1'

In [9]:
# Informations de connexion à DynamoDB
dynamodb = boto3.resource('dynamodb', 
                          aws_access_key_id=aws_access_key_id, 
                          aws_secret_access_key=aws_secret_access_key, 
                          region_name=region_name)

In [10]:
#Lecture de la table "customers" de DynamoDB
table = dynamodb.Table("customers")

# Récupérer les items de la table
response = table.scan()
items = response['Items']

# Convertir les items en DataFrame Spark
df = spark.createDataFrame(items)

# Sélectionner les champs
dataframes["customers"] = df.select(
    F.col("customer_id"),
    F.col("customer_unique_id"),
    F.col("customer_zip_code"),
    F.col("customer_city"),
    F.col("customer_state")
)

In [11]:
#Lecture de la table "sellers" de DynamoDB
table = dynamodb.Table("sellers")

# Récupérer les items de la table
response = table.scan()
items = response['Items']

# Convertir les items en DataFrame Spark
df = spark.createDataFrame(items)

# Sélectionner les champs
dataframes["sellers"] = df.select(
    F.col("seller_id"),
    F.col("seller_zip_code"),
    F.col("seller_city"),
    F.col("seller_state")
)

In [12]:
dataframes

{'orders': DataFrame[order_id: string, customer_id: string, order_status: string, order_purchase_timestamp: timestamp, order_approved_at: timestamp, order_delivered_carrier_date: timestamp, order_delivered_customer_date: timestamp, order_estimated_delivery_date: timestamp],
 'order_items': DataFrame[order_id: string, order_item_id: int, product_id: string, seller_id: string, shipping_limit_date: timestamp, price: double, freight_value: double],
 'order_payments': DataFrame[order_id: string, payment_sequential: int, payment_type: string, payment_installments: int, payment_value: double],
 'order_reviews': DataFrame[review_id: string, order_id: string, review_score: int, review_comment_title: string, review_comment_message: string, review_creation_date: timestamp, review_answer_timestamp: timestamp],
 'products': DataFrame[product_id: string, product_category_name: string, product_name_lenght: int, product_description_lenght: int, product_photos_qty: int, product_weight_g: int, product_length_cm: int, product_height_cm: int, product_width_cm: int],
 'products_translated': DataFrame[product_category_name: string, product_category_name_english: string],
 'geolocation': DataFrame[geolocation_zip_code_prefix: int, geolocation_lat: double, geolocation_lng: double, geolocation_city: string, geolocation_state: string],
 'states_name': DataFrame[geolocation_state: string, state_name: string],
 'customers': DataFrame[customer_id: string, customer_unique_id: string, customer_zip_code: decimal(38,18), customer_city: string, customer_state: string],
 'sellers': DataFrame[seller_id: string, seller_zip_code: decimal(38,18), seller_city: string, seller_state: string]}

# Changement type variables

In [13]:
dataframes["customers"] = dataframes["customers"].withColumn("customer_zip_code", F.col("customer_zip_code").cast("int"))
dataframes["sellers"] = dataframes["sellers"].withColumn("seller_zip_code", F.col("seller_zip_code").cast("int"))

In [14]:
dataframes["customers"].printSchema()
dataframes["sellers"].printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

root
 |-- seller_id: string (nullable = true)
 |-- seller_zip_code: integer (nullable = true)
 |-- seller_city: string (nullable = true)
 |-- seller_state: string (nullable = true)

# Changement nom colonne

In [15]:
dataframes["products"] = dataframes["products"] \
    .withColumnRenamed("product_name_lenght", "product_name_length") \
    .withColumnRenamed("product_description_lenght", "product_description_length")

# Nettoyage des données dupliquées

In [16]:
# Parcourir chaque DataFrame et compter les lignes dupliquées
for key, df in dataframes.items():
    duplicate_rows = df.groupBy(df.columns).count().where(F.col("count") > 1)
    print(f"Duplicates lines in {key} DataFrame : {duplicate_rows.count()}")
    if duplicate_rows.count() > 0:
        duplicate_rows.show(truncate=False)

Duplicates lines in orders DataFrame : 0
Duplicates lines in order_items DataFrame : 0
Duplicates lines in order_payments DataFrame : 0
Duplicates lines in order_reviews DataFrame : 0
Duplicates lines in products DataFrame : 0
Duplicates lines in products_translated DataFrame : 0
Duplicates lines in geolocation DataFrame : 128174
+---------------------------+-------------------+-------------------+----------------+-----------------+-----+
|geolocation_zip_code_prefix|geolocation_lat    |geolocation_lng    |geolocation_city|geolocation_state|count|
+---------------------------+-------------------+-------------------+----------------+-----------------+-----+
|1026                       |-23.53925652899767 |-46.633440525535235|sao paulo       |SP               |2    |
|1106                       |-23.531062064948905|-46.629505278925556|sao paulo       |SP               |2    |
|1241                       |-23.545792634196992|-46.6567234730798  |sao paulo       |SP               |3    |
|1226                       |-23.538190850683794|-46.651323227306854|são paulo       |SP               |4    |
|1223                       |-23.543735510964265|-46.65415427699233 |sao paulo       |SP               |2    |
|1303                       |-23.551504721622702|-46.64945164585375 |sao paulo       |SP               |3    |
|1306                       |-23.554051920624367|-46.6487385976975  |são paulo       |SP               |4    |
|1306                       |-23.554051920624367|-46.6487385976975  |sao paulo       |SP               |6    |
|1332                       |-23.560667077990644|-46.65212849125743 |sao paulo       |SP               |2    |
|1404                       |-23.56708790175425 |-46.654359318339246|sao paulo       |SP               |7    |
|1433                       |-23.577661519562607|-46.67074707591319 |sao paulo       |SP               |2    |
|1441                       |-23.577709985861734|-46.69330789771487 |sao paulo       |SP               |4    |
|1415                       |-23.55150606272721 |-46.654135569940564|sao paulo       |SP               |2    |
|1532                       |-23.57418642936694 |-46.6357481924808  |são paulo       |SP               |3    |
|2013                       |-23.501039877603997|-46.637789893011686|sao paulo       |SP               |2    |
|2022                       |-23.503235899124   |-46.63832674543861 |sao paulo       |SP               |3    |
|2077                       |-23.501848610046736|-46.59854287330482 |sao paulo       |SP               |4    |
|2180                       |-23.51796174271452 |-46.56586340175424 |sao paulo       |SP               |3    |
|2168                       |-23.52218624279628 |-46.57970414962962 |sao paulo       |SP               |2    |
|2121                       |-23.509798868168936|-46.592326749379616|sao paulo       |SP               |2    |
+---------------------------+-------------------+-------------------+----------------+-----------------+-----+
only showing top 20 rows

Duplicates lines in states_name DataFrame : 0
Duplicates lines in customers DataFrame : 0
Duplicates lines in sellers DataFrame : 0

In [17]:
# Suppression des lignes dupliquées dans le Dataframe geolocation
dataframes["geolocation"] = dataframes["geolocation"].dropDuplicates()

# Vérification que les lignes dupliquées ont bien été supprimées
df = dataframes["geolocation"]
duplicate_rows = df.groupBy(df.columns).count().where(F.col("count") > 1)
print(f"Duplicates lines in geolocation DataFrame : {duplicate_rows.count()}")

Duplicates lines in geolocation DataFrame : 0

# Suppression des valeurs dupliquées de l'ID dans la table order_items

In [18]:
dataframes["order_items"].filter(F.col('order_id')=='00143d0f86d6fbd9f9b38ab440ac16f5') \
    .show(truncate=False)

+--------------------------------+-------------+--------------------------------+--------------------------------+-------------------+-----+-------------+
|order_id                        |order_item_id|product_id                      |seller_id                       |shipping_limit_date|price|freight_value|
+--------------------------------+-------------+--------------------------------+--------------------------------+-------------------+-----+-------------+
|00143d0f86d6fbd9f9b38ab440ac16f5|1            |e95ee6822b66ac6058e2e4aff656071a|a17f621c590ea0fab3d5d883e1630ec6|2017-10-20 18:07:52|21.33|15.1         |
|00143d0f86d6fbd9f9b38ab440ac16f5|2            |e95ee6822b66ac6058e2e4aff656071a|a17f621c590ea0fab3d5d883e1630ec6|2017-10-20 18:07:52|21.33|15.1         |
|00143d0f86d6fbd9f9b38ab440ac16f5|3            |e95ee6822b66ac6058e2e4aff656071a|a17f621c590ea0fab3d5d883e1630ec6|2017-10-20 18:07:52|21.33|15.1         |
+--------------------------------+-------------+--------------------------------+--------------------------------+-------------------+-----+-------------+

In [19]:
# Trouver la valeur maximale pour 'order_item_id' pour chaque 'order_id'
max_order_items_id = dataframes["order_items"] \
    .groupBy("order_id") \
    .agg(F.max("order_item_id").alias("max_order_item_id"))


# Joindre le résultat avec le df originel pour obtenir toutes les colonnes
order_items_joined = dataframes["order_items"].join(max_order_items_id, 
                                    (dataframes["order_items"].order_id == max_order_items_id.order_id) & 
                                    (dataframes["order_items"].order_item_id == max_order_items_id.max_order_item_id))


dataframes["order_items"] = order_items_joined.select(dataframes["order_items"]["*"])

In [20]:
dataframes["order_items"].filter(F.col('order_id')=='00143d0f86d6fbd9f9b38ab440ac16f5') \
    .show(truncate=False)

+--------------------------------+-------------+--------------------------------+--------------------------------+-------------------+-----+-------------+
|order_id                        |order_item_id|product_id                      |seller_id                       |shipping_limit_date|price|freight_value|
+--------------------------------+-------------+--------------------------------+--------------------------------+-------------------+-----+-------------+
|00143d0f86d6fbd9f9b38ab440ac16f5|3            |e95ee6822b66ac6058e2e4aff656071a|a17f621c590ea0fab3d5d883e1630ec6|2017-10-20 18:07:52|21.33|15.1         |
+--------------------------------+-------------+--------------------------------+--------------------------------+-------------------+-----+-------------+

# Remplacement noms catégories de portugais à anglais

In [21]:
# Vérification que toutes les catégories en portugais ont une traduction en anglais
p = dataframes["products"].select("product_category_name").distinct()
t = dataframes["products_translated"].select("product_category_name").distinct()

p.subtract(t).show()

+---------------------+
|product_category_name|
+---------------------+
|                     |
+---------------------+

In [22]:
# Jointure entre products et products_translated sur la colonne product_category_name
joined_df = dataframes["products"].alias("p") \
    .join(
        dataframes["products_translated"].alias("pt"),
        F.col("p.product_category_name") == F.col("pt.product_category_name"),
        "left"
    )

# Suppression du champs avec le om du produit en portugais
joined_df = joined_df.drop("product_category_name")

# Renommage de la colonne product_category_name_english
joined_df = joined_df.withColumnRenamed("product_category_name_english", "product_category_name")

# Réagencement des colonnes du DataFrame
new_columns = [joined_df.columns[0]] + ["product_category_name"] + [col for col in joined_df.columns[1:-1]]
dataframes["products"] = joined_df.select(new_columns)

# Mettre à jour le DataFrame dans le dictionnaire
dataframes["products"].show(5)

+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|          product_id|product_category_name|product_name_length|product_description_length|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|00088930e925c41fd...|                 auto|                 56|                       752|                 4|            1225|               55|               10|              26|
|0011c512eb256aa0d...|                 auto|                 58|                       177|                 1|             100|               16|               15|              16|
|000d9be29b5207b54...|        watches_gifts|                 48|                       613|                 4|             250|               22|               11|              15|
|00066f42aeeb9f300...|            perfumery|                 53|                       596|                 6|             300|               20|               16|              16|
|000b8f95fcb9e0096...|           housewares|                 25|                       364|                 3|             550|               19|               24|              12|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
only showing top 5 rows

# Nettoyage des valeurs nulles

In [23]:
# Fonction pour compter les valeurs nulles par colonne
def count_nulls(df):
    return df.select([F.sum(F.col(c).isNull().cast("int")).alias(c) for c in df.columns])

In [24]:
# Parcourir chaque DataFrame et compter les valeurs nulles
for key, df in dataframes.items():
    null_counts = count_nulls(df)
    print(f"Null values in {key} DataFrame :")
    null_counts.show(truncate=False)

Null values in orders DataFrame :
+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
|order_id|customer_id|order_status|order_purchase_timestamp|order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
|0       |0          |0           |0                       |160              |1783                        |2965                         |0                            |
+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+

Null values in order_items DataFrame :
+--------+-------------+----------+---------+-------------------+-----+-------------+
|order_id|order_item_id|product_id|seller_id|shipping_limit_date|price|freight_value|
+--------+-------------+----------+---------+-------------------+-----+-------------+
|0       |0            |0         |0        |0                  |0    |0            |
+--------+-------------+----------+---------+-------------------+-----+-------------+

Null values in order_payments DataFrame :
+--------+------------------+------------+--------------------+-------------+
|order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------+------------------+------------+--------------------+-------------+
|0       |0                 |0           |0                   |0            |
+--------+------------------+------------+--------------------+-------------+

Null values in order_reviews DataFrame :
+---------+--------+------------+--------------------+----------------------+--------------------+-----------------------+
|review_id|order_id|review_score|review_comment_title|review_comment_message|review_creation_date|review_answer_timestamp|
+---------+--------+------------+--------------------+----------------------+--------------------+-----------------------+
|0        |0       |0           |0                   |0                     |0                   |0                      |
+---------+--------+------------+--------------------+----------------------+--------------------+-----------------------+

Null values in products DataFrame :
+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|product_id|product_category_name|product_name_length|product_description_length|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|
+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|0         |610                  |610                |610                       |610               |2               |2                |2                |2               |
+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+

Null values in products_translated DataFrame :
+---------------------+-----------------------------+
|product_category_name|product_category_name_english|
+---------------------+-----------------------------+
|0                    |0                            |
+---------------------+-----------------------------+

Null values in geolocation DataFrame :
+---------------------------+---------------+---------------+----------------+-----------------+
|geolocation_zip_code_prefix|geolocation_lat|geolocation_lng|geolocation_city|geolocation_state|
+---------------------------+---------------+---------------+----------------+-----------------+
|0                          |0              |0              |0               |0                |
+---------------------------+---------------+---------------+----------------+-----------------+

Null values in states_name DataFrame :
+-----------------+----------+
|geolocation_state|state_name|
+-----------------+----------+
|0                |0         |
+-----------------+----------+

Null values in customers DataFrame :
+-----------+------------------+-----------------+-------------+--------------+
|customer_id|customer_unique_id|customer_zip_code|customer_city|customer_state|
+-----------+------------------+-----------------+-------------+--------------+
|0          |0                 |0                |0            |0             |
+-----------+------------------+-----------------+-------------+--------------+

Null values in sellers DataFrame :
+---------+---------------+-----------+------------+
|seller_id|seller_zip_code|seller_city|seller_state|
+---------+---------------+-----------+------------+
|0        |0              |0          |0           |
+---------+---------------+-----------+------------+

In [25]:
# Remplacement des valeurs nulles de "products" : String -> "Other"  &  Int -> -1
dataframes["products"] = dataframes["products"] \
    .withColumn("product_category_name", F.when(F.col("product_category_name").isNull(), "unknown").otherwise(F.col("product_category_name"))) \
    .withColumn("product_name_length", F.when(F.col("product_name_length").isNull(), -1).otherwise(F.col("product_name_length"))) \
    .withColumn("product_description_length", F.when(F.col("product_description_length").isNull(), -1).otherwise(F.col("product_description_length"))) \
    .withColumn("product_photos_qty", F.when(F.col("product_photos_qty").isNull(), -1).otherwise(F.col("product_photos_qty"))) \
    .withColumn("product_weight_g", F.when(F.col("product_weight_g").isNull(), -1).otherwise(F.col("product_weight_g"))) \
    .withColumn("product_length_cm", F.when(F.col("product_length_cm").isNull(), -1).otherwise(F.col("product_length_cm"))) \
    .withColumn("product_height_cm", F.when(F.col("product_height_cm").isNull(), -1).otherwise(F.col("product_height_cm"))) \
    .withColumn("product_width_cm", F.when(F.col("product_width_cm").isNull(), -1).otherwise(F.col("product_width_cm")))

# Vérification que toutes les valeurs nulles de products ont été remplacée
null_counts = count_nulls(dataframes["products"])
print(f"Null values in products DataFrame :")
null_counts.show(truncate=False)

Null values in products DataFrame :
+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|product_id|product_category_name|product_name_length|product_description_length|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|
+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|0         |0                    |0                  |0                         |0                 |0               |0                |0                |0               |
+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+

# Ajout  champs

In [26]:
dataframes["order_items"] = dataframes["order_items"] \
    .withColumn("total_items_value", F.col("price") * F.col("order_item_id")) \
    .withColumn("total_freight_value", F.col("freight_value") * F.col("order_item_id")) \
    .withColumn("total_order_value", F.col("total_items_value") + F.col("total_freight_value"))

dataframes["order_items"].show(10)

+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+-----------------+-------------------+------------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|total_items_value|total_freight_value| total_order_value|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+-----------------+-------------------+------------------+
|0103878b7ed86b6ec...|            1|447934cd014b03328...|b4f8921fcc4ff77b6...|2018-08-20 02:15:41|229.99|        35.37|           229.99|              35.37|            265.36|
|01fba151a6fa8315f...|            1|c1488892604e4ba5c...|1554a68530182680a...|2017-07-14 16:23:25|  38.5|        19.88|             38.5|              19.88|58.379999999999995|
|021f26893462ec6a6...|            1|f6fa93875f4a7dac0...|391fc6631aebcf300...|2017-07-18 17:32:13| 49.95|        11.85|            49.95|              11.85|61.800000000000004|
|02346fd715e28d8e4...|            1|165f86fe8b799a708...|7ddcbb64b5bc1ef36...|2017-11-14 22:26:31|146.99|        16.66|           146.99|              16.66|            163.65|
|02dbd29bc7a490d58...|            1|c863f578eb77e9238...|b4ffb71f0cb1b1c3d...|2017-12-04 13:11:19|  48.3|        21.15|             48.3|              21.15| 69.44999999999999|
|0306b467a7c7d400d...|            1|72ef87b1953a2844e...|8c16d1f32a54d9289...|2018-02-08 03:53:21|  61.5|        13.58|             61.5|              13.58|             75.08|
|0354fc44bfc5b7a6d...|            1|4cb922d064b9a86b2...|3078096983cf766a3...|2018-02-01 10:34:23| 89.99|        13.65|            89.99|              13.65|            103.64|
|0363e6de0e2139c49...|            1|940d38f0ef286bd93...|53e4c6e0f4312d4d2...|2018-04-23 14:53:44| 85.71|        11.69|            85.71|              11.69| 97.39999999999999|
|03679d41c590caa3f...|            1|2b4ad41f87f5ca9da...|63b464dbf392c7b80...|2017-02-15 16:47:22| 159.0|        26.61|            159.0|              26.61|            185.61|
|03e4b19921428d651...|            1|389d119b48cf3043d...|1f50f920176fa81da...|2018-01-18 14:49:23|  49.9|        13.37|             49.9|              13.37|63.269999999999996|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+-----------------+-------------------+------------------+
only showing top 10 rows

# Chargement des Dataframes nettoyés en Table

In [27]:
# Informations de connexion à RDS
jdbc_url = "jdbc:mysql://database-grp6.chcmvnn5gnpv.us-east-1.rds.amazonaws.com:3306/cleaned_data?serverTimezone=UTC"
db_properties = {
    "user": "admin",
    "password": "xxx",
    "driver": "com.mysql.jdbc.Driver"
}

In [28]:
# Écrire le DataFrame dans la table RDS
for table_name, df in dataframes.items() :
    print("Début : ", table_name)
    df.write.jdbc(url=jdbc_url, table=table_name, mode="overwrite", properties=db_properties)
    print("Fin : ", table_name)

Début :  orders
Fin :  orders
Début :  order_items
Fin :  order_items
Début :  order_payments
Fin :  order_payments
Début :  order_reviews
Fin :  order_reviews
Début :  products
Fin :  products
Début :  products_translated
Fin :  products_translated
Début :  geolocation
Fin :  geolocation
Début :  states_name
Fin :  states_name
Début :  customers
Fin :  customers
Début :  sellers
Fin :  sellers